-Xms1g
-Xmx2g
-XX:+UseG1GC
-XX:G1HeapRegionSize=16m
-XX:MaxGCPauseMillis=200
-Xlog:gc*:gc.log:time,uptime:filecount=5,filesize=100m
-XX:+UseStringDeduplication
-XX:+OptimizeStringConcat
-XX:+UnlockExperimentalVMOptions
--add-opens=java.base/java.lang=ALL-UNNAMED
--add-opens=java.base/java.util=ALL-UNNAMED
--add-opens=java.xml/com.sun.org.apache.xml.internal.serialize=ALL-UNNAMED
--add-opens=java.xml/com.sun.org.apache.xpath.internal=ALL-UNNAMED
-Dfile.encoding=UTF-8
-Djava.awt.headless=true
-Dmaven.artifact.threads=8
-Dmaven.resolver.transport=wagon
